<?pde version="3.8"?><?pde version="3.8"?><target name="statusbar.test.target" sequenceNumber="27">
   <locations>
      <location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer"
                includeSource="true"
                type="InstallableUnit">
         <unit id="org.easytesting.fest-util" version="1.2.5"/>
         <unit id="org.objenesis" version="2.1.0"/>
         <unit id="org.mockito.mockito-core" version="1.10.19"/>
         <unit id="org.hamcrest.core" version="1.1.0"/>
         <unit id="org.easytesting.fest-assert-core" version="2.0.0.0M10"/>
         <!-- XSLT -->
<unit id="org.eclipse.swt.org.eclipse.swt.win32.win32.x86_64" version="4.3.2"/>
         <repository location="file:/E:/git/statusbar/test/p2/target/repository/"/>
         <!-- XSLT -->
</location>
      <location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer"
                includeSource="true"
                type="InstallableUnit">
         <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group"
               version="1.1.0.v20151130-0157"/>
         <unit id="org.eclipse.ecf.filetransfer.feature.feature.group"
               version="3.12.0.v20151130-0157"/>
         <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.2.0.v20151130-0157"/>
         <unit id="org.eclipse.rcp.feature.group" version="4.5.2.v20160212-1500"/>
         <unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group"
               version="3.12.0.v20151130-0157"/>
         <unit id="org.eclipse.jdt.source.feature.group" version="3.11.2.v20160212-1500"/>
         <unit id="org.eclipse.ecf.core.ssl.feature.feature.group"
               version="1.1.0.v20151130-0157"/>
         <unit id="org.eclipse.emf.ecore.feature.group" version="2.11.2.v20160208-0816"/>
         <unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group"
               version="1.1.0.v20151130-0157"/>
         <unit id="org.eclipse.emf.common.feature.group" version="2.11.1.v20160208-0816"/>
         <repository location="http://download.eclipse.org/eclipse/updates/4.5"/>
      </location>
   </locations>
</target>